/* OneFileCMS - http://onefilecms.com/
 * Version 1.1.7 
 * For license & copyright info, see OneFileCMS.License.BSD.txt 
 */ 


/* #774200 #807568 #976322 #995400 #d4d4d4 #0F0901 #eaeaea rgb(255,250,150)
   rgb(157, 124, 83) rgb(157, 124, 83)
   rgb(255,250,150) rgb(255,250,150) #969376 rgb(255,245,115)
 */



/* --- reset --- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border : 0;
	outline: 0;
	margin : 0;
	padding: 0;
	font-weight: inherit;
	font-style : inherit;
	font-size  : 100%;
	font-family: inherit;
	vertical-align: baseline;
	}




/* --- general formatting --- */

body {
	font-size: 1em;
	background: #d5d0cc;
	font-family: sans-serif;
	}

h2,h3,p,ul,table { margin-bottom: 10px; }

em, i { font-style: italic; }

strong { font-weight: bold; }

li {line-height: 1.4em; }

:focus{outline:0;}

ol,ul{list-style:none;}

table{border-collapse:separate;border-spacing:0;}

caption,th,td{text-align:left;font-weight:400;}

blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}

div{position: relative;}

h1,h2,h3,h4,h5,h6{font-weight: bold;}
h2 { font-size: 20px; }
h3 { font-size: 18px; margin-top: 15px; }
h4 { font-size: 1.3em; margin-bottom: .2em; font-weight: normal;}

a { border: 1px solid transparent; color: rgb(100,45,0); text-decoration: none; }
a:hover { border: 1px solid #807568; background-color: rgb(255,250,150); }
a:focus { border: 1px solid #807568; background-color: rgb(255,250,150); }

form p { margin-bottom: 5px; }


label {
	display: inline-block;
	width  : 7em;
	font-size : 14px;
	font-style: italic;
	}


pre {
	background: white;
	border: 1px solid #807568;
	line-height: 1.25em;
	overflow: auto
	overflow-Y: hidden;
	padding: 10px;
	margin: 5px 0 10px 0;
	overflow: hidden;
	}





/* --- layout --- */

.container {
	border : 0px solid #807568;
	width  : 810px;
	margin : 0em auto;
	}


.header {
	border-bottom : 1px solid #807568;
	padding: 04px 0px 04px 0px;
	margin : 0;
	margin-bottom : .5em;
	}


#logo {
	font-family: 'Trebuchet MS', sans-serif;
	font-size:2.2em;
	font-weight: bold;
	color: black;
	padding: .1em;
	}


.footer {
	color: #777;
	font-size: .7em;
	/*****************
	margin-top: 10px;
	padding-top: 10px;
	border-top: 01px solid #807568;    /*using <hr>. Styles at bottom of this file
	clear: both;
	*****************/
	}


.page_login label {
	display: block;
	margin-bottom: 2px;
	}


.alignleft {
	margin: 0 10px 10px 0;
	float: left;
	}


#message {
	min-height: 1.7em; /* Leave space when message is blank. Used by Edit page */
	}

#message p {
	margin: 0;
	padding: 4px 0px 4px .5em;
	border: 1px solid #807568;
	font-family: Lucida Console, "Courier New" ;
	font-size: .95em;
	line-height: 1em;
	background: #fff000;
	}

#message span { float: right; }

#message a { padding: 4px 1px 4px 1px; border-right: none; } /*T R B L*/



/* --- INDEX --- */

.index { width: 810px; }

.index li {
	margin: 0 10px 10px 0;
	width: 260px;
	float: left;
	position: relative;
	}

.index a {
	height: 20px;
	display: block;
	padding: 7px 5px 7px 35px;
	border: 1px solid #807568;
	text-decoration: none;
	background: #F8F8F8 url("http://self-evident.github.com/OneFileCMS/images/file-bin.png") 3px no-repeat;
	overflow: hidden;
	line-height: 1em;
	}

.index a.bin { background:white url("http://self-evident.github.com/OneFileCMS/images/file-bin.png") 3px no-repeat; }
.index a.img { background:white url("http://self-evident.github.com/OneFileCMS/images/file-img.png") 3px no-repeat; }
.index a.txt { background:white url("http://self-evident.github.com/OneFileCMS/images/file-txt.png") 3px no-repeat; }
.index a.cfg { background:white url("http://self-evident.github.com/OneFileCMS/images/file-cfg.png") 3px no-repeat; }
.index a.css { background:white url("http://self-evident.github.com/OneFileCMS/images/file-css.png") 3px no-repeat; }
.index a.htm { background:white url("http://self-evident.github.com/OneFileCMS/images/file-htm.png") 3px no-repeat; }
.index a.php { background:white url("http://self-evident.github.com/OneFileCMS/images/file-php.png") 3px no-repeat; }
.index a.svg { background:white url("http://self-evident.github.com/OneFileCMS/images/file-svg.png") 3px no-repeat; }

.index a:hover { background-color: rgb(255,250,150); }
.index a:focus { background-color: rgb(255,250,150); }



/* --- INDEX directory listing, table format --- */
table.index_T {
	min-width: 30em;
	font-size: .95em;
	border-style: outset;
	border-width: 1px;
	border-color: #807568;
	border-collapse: collapse;
	margin-bottom: .7em;
	background-color: #F8F8F8;
	}
	
table.index_T  tr:hover { border: 1px solid #807568; }

table.index_T td { 
	border-width  : 1px;
	border-color  : silver;
	border-style  : inset;
	vertical-align: middle;
	}

.index_T a { 
	height : 1em;
	display: block;
	padding: .2em 1em .3em 1.6em;
	color  : rgb(100,45,0);
	border : none;
	background : url("http://self-evident.github.com/OneFileCMS/images/file-bin.png") 3px no-repeat;
	overflow   : hidden;
	}

/*	background : url("http://self-evident.github.com/OneFileCMS/images/silk_file.png") 4px no-repeat;*/

.index_T a.txt { background: url("http://self-evident.github.com/OneFileCMS/images/file-txt.png") 3px no-repeat; }
.index_T a.htm { background: url("http://self-evident.github.com/OneFileCMS/images/file-htm.png") 3px no-repeat; }
.index_T a.css { background: url("http://self-evident.github.com/OneFileCMS/images/file-css.png") 3px no-repeat; }
.index_T a.php { background: url("http://self-evident.github.com/OneFileCMS/images/file-php.png") 3px no-repeat; }
.index_T a.cfg { background: url("http://self-evident.github.com/OneFileCMS/images/file-cfg.png") 3px no-repeat; }
.index_T a.img { background: url("http://self-evident.github.com/OneFileCMS/images/file-img.png") 3px no-repeat; }
.index_T a.bin { background: url("http://self-evident.github.com/OneFileCMS/images/file-bin.png") 3px no-repeat; }
.index_T a.svg { background: url("http://self-evident.github.com/OneFileCMS/images/file-svg.png") 3px no-repeat; }

.index_T a:hover { background-color: rgb(255,250,150); }
.index_T a:focus { background-color: rgb(255,250,150); }



/* File size & date */

.meta_size {
	min-width     : 6em;
	}

.meta_time {
	width         : 13em;
	}

.meta {
	height        : 25px;
	line-height   : 1.1em;
	font-size     : .9em;
	margin-top    : 3px;
	padding-right : .5em;
    font-size     : .9em;
	color         : #333;
	}

.meta_T {
	padding-right : .5em;
	text-align    : right;
	font-family   : courier;
    font-size     : .9em;
	color         : #333;
	}


.index_folders {
	min-height: 1.4em; 
	margin-bottom: .2em
	}

.index_folders a {
	display      : inline-block;
	line-height  : 1.1em;
	font-size    : 1em;
	margin-right : .6em;
	padding      : 2px 4px 2px 20px;
	padding-left : 25px;
	padding-right:  .5em;
	padding-top  : .1em;
	padding-bottom : .1em;
	background : url("http://self-evident.github.com/OneFileCMS/images/folder-2.png") 4px 3px no-repeat;
	}

.index_folders a:hover { background-color: rgb(255,250,150); }
.index_folders a:focus { background-color: rgb(255,250,150); }



/*  [Upload File] [New File] [New Folder] etc... */

.front_links { clear: both; }

.front_links a {
	border: 1px solid #807568;
	font-size: 16px;
	margin-right: 15px;
	padding: 3px 5px 5px 21px; /*T R B L*/
	height: 16px;
	display: inline-block;
	}

.front_links a.upload       { background: url("http://self-evident.github.com/OneFileCMS/images/upload.png") 3px      3px no-repeat; }
.front_links a.new          { background: url("http://self-evident.github.com/OneFileCMS/images/file-new-2.png")      3px 4px no-repeat; }
.front_links a.newfolder    { background: url("http://self-evident.github.com/OneFileCMS/images/folder-new-2.png")    2px 5px no-repeat; }
.front_links a.renamefolder { background: url("http://self-evident.github.com/OneFileCMS/images/folder-rename-1.png") 1px 4px no-repeat; }
.front_links a.deletefolder { background: url("http://self-evident.github.com/OneFileCMS/images/folder-del-3.png")    1px 5px no-repeat; }
.front_links a.settings     { background: url("http://self-evident.github.com/OneFileCMS/images/settings.png")        2px 3px no-repeat; }

.front_links a:hover  { background-color: rgb(255,250,150); }
.front_links a:focus  { background-color: rgb(255,250,150); }


form .meta { z-index: -1; }

.textinput {
	border: 1px solid #807568;
	padding: 2px;
	width: 650px;
	font: 1em "Courier New", Courier, monospace;
	}

textarea.textinput {
	border: 1px solid #999;
	font  : .95em "Courier New", Courier, monospace;
	margin: 0 0 .5em 0; /*T R B L*/
	width : 99.5%;
	height: 30em;
	height: 30em;
	}

textarea.disabled { height: 50px; }

textarea:focus { border: 1px solid #Faa; }


input:focus { background-color: rgb(255,250,150); }
/* input[type="button"]:focus { background-color: rgb(255,250,150); } */

input:hover { background-color: rgb(255,250,150); }


.buttons_right { float: right;}
.buttons_right .button { margin-left: 7px; }
.buttons_left { float: left;}
.buttons_left .button { margin-right: 7px; }

.button {
	border: 1px solid #807568;
	padding: 4px 10px;
	background-color: #d4d4d4;
	cursor: pointer;
	font-size: 14px;
	font-family: sans-serif;
	}

.Xbutton:hover { background-color: rgb(255,250,150); } 
.button[disabled]:hover { background-color: #d4d4d4; }

/*
#Xsave_file         { border: 1px solid red; }
#save_file a:hover { background-color: rgb(255,250,150); border: 1px solid red; }
#save_file a:focus { background-color: rgb(255,250,150); border: 1px solid red; }
*/


#action {color: white; background-color: rgb(235,70,70); font-weight: 700;}


/* --- header --- */

.nav {
	float     : right;
	display   : inline-block;
	margin-top: 1.6em;
	font-size : 1em;
	}

.nav a {
	border: 1px solid transparent;
	font-weight : bold;
	padding     : .0em;
	padding-top   : .2em;
	padding-left  : .6em;
	padding-right : .6em;
	padding-bottom: .1em;
	}

.nav a:hover { border: 1px solid #807568; }
.nav a:focus { border: 1px solid #807568; }



/* --- edit --- */

#edit_header  {margin: 0;}

#edit_form    {margin: 0;}

#file_content {height: 24em; }

.file_meta	  {float: left;  margin-top: .5em;}

.close        {float: right; margin-bottom: .5em;}

#edit_note    {font-size: .8em; color: #444 ;margin-top: 1em;}

/* --- log in --- */

.page_login .container, .page_logout .container {
	margin-top: 5em;
	border    : 1px solid #807568;
	padding   : 1em;
	width     : 360px;
}


.login_input {
	border  : 1px solid #807568;
	padding : 2px 0px 2px 2px;
	width   : 356px;
	font    : 1em Courier;
}



/* --- --- --- */
hr { 
	line-height  : 0;
	font-size    : 1px;
	display : block;
	position: relative;
	padding : 0;
	margin  : 8px auto;
	width   : 100%;
	clear   : both;
	border  : none;
	border-top   : 1px solid #807568;
	Xborder-bottom: 1px solid #eee;
	overflow: visible;
	}
